<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sehati-id</title>
</head>

<body>
    <header id="appBar">
        <nav class="navbar navbar-expand-lg position-absolute w-100" data-bs-theme="dark" style="z-index: 99;">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="./assets/logo.png" alt="Sehati.id" height="80px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item me-4">
                            <a class="nav-link text-white" aria-current="page" href="#/home">HOME</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link text-white" href="#/recipe">RECIPE</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link text-white" href="#/forum">FORUM</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link text-white" href="#/article">ARTICLE</a>
                        </li>
                        <li class="nav-item me-4">
                            <a class="nav-link" href="#/register">REGISTER</a>
                        </li>
                        <li class="nav-item me-4">
                            <button class="btn" style="background-color: white; color: #1C9509;"><a
                                    href="#/login">LOGIN</a></button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
        <!-- <section id="calculator">
            <div class="container-lg">
                <div class="judulcalculator text-center mb-3">
                    <h2>KALKULATOR INDEKS MASSA TUBUH</h2>
                </div>
                <div class="row">
                    <div class="col d-flex justify-content-center">
                        <form class="bg-white rounded-3 w-100" style="padding: 30px;">
                            <div class="jk d-flex align-items-center mb-4">
                                <label for="" class="form-label me-4 fw-bold">JENIS KELAMIN</label>
                                <select class="form-select box-inputs" aria-label="Default select example">
                                    <option selected disabled>Jenis Kelamin</option>
                                    <option value="1">Laki-Laki</option>
                                    <option value="2">Perempuan</option>
                                </select>
                            </div>
                            <div class="tanggal-lahir d-flex align-items-center mb-4">
                                <label for="" class="form-label me-4 fw-bold">TANGGAL LAHIR</label>
                                <select id="tanggalDropdown" class="form-select me-3 box-inputs"
                                    aria-label="Default select example">
                                    <option selected disabled>Tanggal</option>
                                </select>
                                <select id="bulanDropdown" class="form-select me-3 box-inputs"
                                    aria-label="Default select example">
                                    <option selected disabled>Bulan</option>
                                </select>
                                <select id="tahunDropdown" class="form-select me-3 box-inputs"
                                    aria-label="Default select example">
                                    <option selected disabled>Tahun</option>
                                </select>
                            </div>
                            <div class="tinggi-badan d-flex align-items-center mb-4">
                                <label for="" class="form-label me-4 fw-bold">TINGGI BADAN</label>
                                <input type="number" class="form-control box-input" id="">
                                <label class="form-label me-3">CM</label>
                                <input type="range" class="form-range" id="customRange1" style="max-width: 700px;">
                            </div>
                            <div class="berat-badan d-flex align-items-center mb-4">
                                <label for="" class="form-label me-4 fw-bold">BERAT BADAN</label>
                                <input type="number" class="form-control box-input" id="">
                                <label class="form-label me-3">KG</label>
                                <input type="range" class="form-range" id="customRange1" style="max-width: 700px;">
                            </div>
                            <div class="aktivitas d-flex align-items-center mb-4 flex-wrap">
                                <label for="" class="form-label me-4 fw-bold mb-3">AKTIVITAS</label>
                                <button type="button" class="btn btn-calculator me-3 mb-3 box-input"
                                    style="background-color: white;">Ringan</button>
                                <button type="button" class="btn btn-calculator me-3 mb-3 box-input"
                                    style="background-color: white;">Sedang</button>
                                <button type="button" class="btn btn-calculator me-3 mb-3 box-input"
                                    style="background-color: white;">Berat</button>
                                <button type="button" class="btn btn-calculator me-3 mb-3 box-input"
                                    style="background-color: white;">Sangat Berat</button>
                            </div>
                            <div class="text-center my-5">
                                <button type="submit" class="btn-calculator text-white"
                                    style="background-color: green;">HITUNG</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section> -->
    </main>

    <footer class="bg-light text-center text-lg-start">
        <div class="container">
            <div class="row">
                <div class="col footerlist mt-3">
                    <div class="imagelogofooter me-5">
                        <img src="./assets/logo.png" alt="" width="100px">
                    </div>
                    <div class="sehatilistnav">
                        <ul class="navbar-nav">
                            <li class="nav-item me-3">
                                <a class="nav-link fw-bold" aria-current="page" href="#">Sehati.id</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#aboutus">About Us</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#teams">Team</a>
                            </li>
                            <li class="nav-item me-3">
                                <a class="nav-link" href="#article">Article</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col text-center mt-3">
                    <p>Social Media</p>
                    <div class="iconfooter">
                        <img class="me-3" src="./assets/ig.png" alt="" width="40px">
                        <img class="me-3" src="./assets/linkedin.png" alt="" width="40px">
                        <img class="me-3" src="./assets/wa.png" alt="" width="40px">
                        <img class="me-3" src="./assets/twitter.png" alt="" width="40px">
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center p-3 mt-5" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2020 Copyright:
            <a class="text-white text-decoration-none" href="#"><strong>Sehati.id</strong></a>
        </div>
    </footer>
</body>

</html>