@import "bootstrap/scss/bootstrap";

@media (max-width: 992px) {

    h1 {
        font-size: calc(1vw + 1.5rem);
    }

    h2 {
        font-size: calc(0.8vw + 1.5rem);
    }

    h3 {
        font-size: calc(0.6vw + 1.5rem);
    }

    p,
    a {
        font-size: calc(0.3vw + 1.5rem);
    }

    #hero {
        text-align: center;
    }

    .herobutton {
        margin: 0 auto;
    }

    #hero img {
        display: none;
    }

    .logocontainer {
        display: none;
    }
}

@media (max-width: 505px) {
    .aboutuslogo {
        display: none;
    }
}

@media (max-width: 400px) {

    h1 {
        font-size: calc(1vw + 0.9rem);
    }

    h2 {
        font-size: calc(0.8vw + 0.9rem);
    }

    h3 {
        font-size: calc(0.6vw + 0.9rem);
    }

    p,
    a {
        font-size: calc(0.3vw + 0.9rem);
    }
}